<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body style="width: 90%; margin:auto; ">
    
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img src="assets\images\logo_op.png" width="112" height="28">
        </a>
        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a  class="navbar-item" routerLink="/collection">
            VIEW COLLECTION
          </a>
          <div class="navbar-item">
            <label>ST01</label>
            <input (change)="addToFilter('ST01')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST02</label>
            <input (change)="addToFilter('ST02')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST03</label>
            <input (change)="addToFilter('ST03')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST04</label>
            <input (change)="addToFilter('ST04')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST05</label>
            <input (change)="addToFilter('ST05')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST06</label>
            <input (change)="addToFilter('ST06')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST07</label>
            <input (change)="addToFilter('ST07')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST08</label>
            <input (change)="addToFilter('ST08')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>ST09</label>
            <input (change)="addToFilter('ST09')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>OP01</label>
            <input (change)="addToFilter('OP01')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>OP02</label>
            <input (change)="addToFilter('OP02')" type="checkbox" >
          </div>
          <div class="navbar-item">
            <label>OP03</label>
            <input (change)="addToFilter('OP03')" type="checkbox" >
          </div>
        </div>
        
        <div class="navbar-end">
        </div>
      </div>
    </nav>
       
    
    <router-outlet (activate)="sendStuff($event)" ></router-outlet>


    <script src="" async defer></script>
  </body>
</html>



