<div [ngStyle]="{'opacity':collected === 'true' ? '1' : '.5', }" id="{{card_code}}" class="grid-item card">
  <header  class="card-header">
      <p class="card-header-title">
        {{name}}
      </p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
  <div class="card-image">
    <figure  class="image">
      <img src="assets\images\{{deck}}\CardImages\{{images}}" alt="Image of {{name}} card.">
    </figure>
  </div>

</div>









<ng-template #notCollectedTemplate></ng-template>